version: "3.9"

x-sonic-common: &sonic-common
  image: docker-sonic-vs:latest
  platform: linux/amd64
  privileged: true
  tty: true
  shm_size: "2gb"
  security_opt:
    - seccomp=unconfined

x-debian-common: &debian-common
  image: debian:bullseye
  platform: linux/amd64
  privileged: true
  tty: true
  volumes:
    - ./init_linux.sh:/init_linux.sh:ro
    - ./create_vnet.sh:/create_vnet.sh:ro
    - /var/run/docker.sock:/var/run/docker.sock
    - ./tmp/vnet_ready:/tmp/vnet_ready:rw
  shm_size: "2gb"

services:
  ###########################
  # Backing Linux containers #
  ###########################

  spine1-linux:
    <<: *debian-common
    container_name: spine1-linux
    command: ["bash", "/init_linux.sh", "spine1-linux", "32"]

  leaf1-linux:
    <<: *debian-common
    container_name: leaf1-linux
    command: ["bash", "/init_linux.sh", "leaf1-linux", "32"]

  leaf2-linux:
    <<: *debian-common
    container_name: leaf2-linux
    command: ["bash", "/init_linux.sh", "leaf2-linux", "32"]

  ###########################
  # SONiC VS containers      #
  ###########################

  spine1:
    <<: *sonic-common
    container_name: sonic-spine1
    depends_on:
      - spine1-linux
    network_mode: "service:spine1-linux"
    volumes:
      - ./tmp/vnet_ready:/tmp/vnet_ready:ro
      - /var/run/redis-vs/spine1:/var/run/redis
      - ./sonic_entry.sh:/sonic_entry.sh:ro
    entrypoint: ["/bin/bash", "/sonic_entry.sh", "spine1-linux"]

  leaf1:
    <<: *sonic-common
    container_name: sonic-leaf1
    depends_on:
      - leaf1-linux
    network_mode: "service:leaf1-linux"
    volumes:
      - ./tmp/vnet_ready:/tmp/vnet_ready:ro
      - /var/run/redis-vs/leaf1:/var/run/redis
      - ./sonic_entry.sh:/sonic_entry.sh:ro
    entrypoint: ["/bin/bash", "/sonic_entry.sh", "leaf1-linux"]

  leaf2:
    <<: *sonic-common
    container_name: sonic-leaf2
    depends_on:
      - leaf2-linux
    network_mode: "service:leaf2-linux"
    volumes:
      - ./tmp/vnet_ready:/tmp/vnet_ready:ro
      - /var/run/redis-vs/leaf2:/var/run/redis
      - ./sonic_entry.sh:/sonic_entry.sh:ro
    entrypoint: ["/bin/bash", "/sonic_entry.sh", "leaf2-linux"]
